
@{
    ViewData["Title"] = "Index";
}
<div>
<h3>Welcome</h3>
</div>
@*<form asp-controller="IMDBs" asp-action="search" method="get">
    <p>
        Movie Name: <input type="text" name="query">
        <input type="submit" value="search" />
    </p>
</form>*@


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<section>
    <section class="search-sec">
        <div class="container">
            <form asp-controller="IMDBs" asp-action="search" method="get">
               
                <div class="row">
                    <div class="col-lg-12" >
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <input type="text" name="query" class="form-control search-slt" value="@ViewData["currentFilter"]" placeholder="Enter Movie Name">
                            </div>
                           
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <button type="submit" value="search" class="btn btn-danger wrn-btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            
    </section>


   
</section>
